* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #F3F5FC;
    --cor-secundaria: #0A3871;
    --cor-terciaria: #FFF;
}

body {
    background-color: var(--cor-primaria);
}

.cabecalho {
    padding: 2% 15%;
    background-color: #FFF;
    width: 100%;
    display: flex;
    align-items: center;
}

/* .cabecalho__imagem {
   
} */

.links{
    display: flex;
    gap: 1rem;
}

.cabecalho__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* gap: 40px; */
}

.cabecalho__menu__link {
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    text-decoration: none;
}

.principal {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.principal__texto {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.principal__texto__textarea {
    width: 100%;
    height: 40vh;
    border-radius: 10px;
    margin-top: 5%;
    /* border: none; */
}

.principal__texto__botoes {
    margin-top: 5%;
    text-align: center;
}

.principal__resultado {
    background-color: var(--cor-terciaria);
    border-radius: 10px;
    height: 50%;
    padding-top: 20%;
    border: 2px solid black;
}

.principal__resultado__imagem {
 
}

.principal__resultado__div {
    margin-top: 10%;
    text-align: center;

}

.rodape {
    background-color: var(--cor-terciaria);
    text-align: center;
    padding: 24px;
    font-size: 1.5rem;
}